.chat-container {
  display: flex;
  flex-direction: column;
  height: 100dvh;   
}


.chat-header {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.chat-messages {
  flex: 1;
  min-height: 0; 
  overflow-y: auto;
  padding: 16px 16px 0 16px;
  box-sizing: border-box;
  padding-bottom: 70px;
}

.loading {
  padding: 20px;
  text-align: center;
}

