.chat-header {
  position: sticky;          
  top: 0;                   
  z-index: 30;               
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(253, 253, 253);
  padding: 14px 18px;
  flex-shrink: 0;
  border-bottom: 1px solid #eee;
}


/* LEFT SIDE */
.chat-header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.chat-header-avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
}

/* NAME + STATUS */
.chat-header-info {
  display: flex;
  flex-direction: column;
}

.chat-header-info h4 {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
  color: #111827;
}

/* ONLINE / OFFLINE */
.chat-header-info span {
  font-size: 12px;
}

.online {
  color: #22c55e; 
}

.offline {
  color: #9ca3af; 
}

/* RIGHT SIDE */
.chat-header-close {
  background: none;
  border: none;
  cursor: pointer;
  padding: 6px;
  border-radius: 50%;
  transition: background 0.2s;
}

.chat-header-close:hover {
  background: #f3f4f6;
}

.chat-header-avatar-wrapper {
  position: relative;
}

.chat-header-avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
}

/* ONLINE DOT */
.chat-online-dot {
  position: absolute;
  bottom: 2px;
  right: 2px;
  width: 10px;
  height: 10px;
  background-color: #22c55e;
  border-radius: 50%;
  border: 2px solid white;
}

/* status text */
.status {
  font-size: 12px;
  color: #9ca3af;
}

.status.online {
  color: #22c55e;
}

.status.offline {
  color: #9ca3af;
}

.chat-header-back {
  cursor: pointer;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .chat-header-close {
    display: none;
  }
}
