.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

/* .chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #f5f5f5;
} */

.chat-messages {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
}

.loading {
  padding: 20px;
  text-align: center;
}
