html, body, #root {
  height: 100%;
  margin: 0;
}

.chat-layout {
  display: flex;
  height: 100vh;
  
}

.chat-main {
  flex: 1;
  height: 100%;
  
}

.chat-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
}

