.message-row {
  display: flex;
  margin-bottom: 14px;
  align-items: flex-end;
}

.message-row.own {
  justify-content: flex-end;
}

.message-row.other {
  justify-content: flex-start;
}

.message-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 6px;
}

.message-content {
  max-width: 65%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* TEXT BUBBLE */
.message-bubble {
  background: #ffffff;
  padding: 10px 14px;
  border-radius: 18px;
  font-size: 14px;
  line-height: 1.4;
  width: fit-content;
}

.own-bubble {
  background: #daf1ff;
  border-bottom-right-radius: 6px;
  align-self: flex-end;
}

/* IMAGE (SEPARATE FROM BUBBLE) */
.message-image {
  max-width: 200px;
  max-height: 200px;
  border-radius: 12px;
  cursor: pointer;
  object-fit: cover;
}

.message-row.own .message-image {
  align-self: flex-end;
}

.message-row.other .message-image {
  align-self: flex-start;
}

/* META */
.message-meta {
  font-size: 11px;
  color: gray;
}
